// ─────────────────────────────────────────────────────────────────────────────
// PAGE STYLES
// Interior pages have their own stylesheet for styles that only exist on
// that page. Any styles shared between pages, including repeated sections,
// should go into root.scss
// ─────────────────────────────────────────────────────────────────────────────


/*-- -------------------------- -->
<---          Services Banner   -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0px) {
	#banner-311 {
		/* 144px - 252px */
		padding-top: 9rem;
		position: relative;
		z-index: 1;

		.cs-container {
			width: 100%;
			max-width: calc(1280 / 16 * 1rem);
			margin: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

        .cs-heading-container {
            text-align: center;
			max-width: calc(800 / 16 * 1rem);
			margin: 0 auto calc(12 / 16 * 1rem);
            padding: clamp(1rem, 0.15rem + 3.78vw, 2rem);
            position: relative;
            // background-color: #f7f7f7;

            .cs-int-title {
			/* 39px - 49px */
			font-size: clamp(2.4375rem, 4.5vw, 3.0625rem);
			font-weight: 900;
			line-height: 1.2em;
			// color: var(--bodyTextColorWhite);
		}
        }

		.cs-breadcrumbs {
			display: flex;
			justify-content: center;
			align-items: center;
            text-decoration: underline;
		}

		.cs-link {
			/* 14px - 16px */
			font-size: clamp(0.875rem, 1.5vw, 1rem);
			line-height: 1.2em;
			text-decoration: none;
			// color: var(--bodyTextColorWhite);
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			&:last-of-type {
				/* remove the chevron on the last list item */
				&::after {
					display: none;
				}
			}

			&:after {
				/* chevron - added as pseudo to make adding and removing them easier */
				content: "";
				width: calc(7 / 16 * 1rem);
				height: calc(12 / 16 * 1rem);
				margin-left: calc(12 / 16 * 1rem);
				margin-right: calc(12 / 16 * 1rem);
				background: url("/assets/svgs/chevron.svg");
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}

			&.cs-active {
				color: var(--primaryLight);
			}
		}

		.cs-background {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			z-index: -1;

			&:before {
				/* black overlay box */
				content: "";
				width: 100%;
				height: 100%;
				background: #000;
				opacity: 0.72;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				z-index: 1;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    .cs-heading-container {
        // border-radius: calc(16/16 * 1rem);
        // box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-313,
    #about {
        padding: clamp(1.875rem, 3.91vw, 3.125rem) 1rem;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* ~18px - 24px */
            gap: clamp(1.125rem, 3vw, 1.5rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-quote {
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: calc(16 / 16 * 1rem);
            position: relative;
        }

        .cs-quote-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 calc(16 / 16 * 1rem);
            color: #767676;
            display: block;
        }

        .cs-name {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 0 calc(4 / 16 * 1rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            color: #767676;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            bottom: calc(0 / 16 * 1rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
        }

        .cs-image-group {
            /* scaling the font size with the view width */
            font-size: min(2.31vw, 0.7em);
            /* using ems so we can use font size to scale the whole section */
            width: calc(631 / 16 * 1em);
            height: calc(636 / 16 * 1em);
            position: relative;
        }

        .cs-picture {
            border-radius: calc(24 / 16 * 1em);
            /* clips img tag corners */
            overflow: hidden;
            position: absolute;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            width: calc(522 / 16 * 1em);
            height: calc(581 / 16 * 1em);
            left: 0;
            top: 0;
        }

        .cs-picture2 {
            width: calc(414 / 16 * 1em);
            height: calc(400 / 16 * 1em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            right: 0;
            bottom: 0;
        }
    }
    #about {
        .csRPsbr-313-picture {
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                .icon {
                    fill: #fff;
                }
            }
        }
    }

    .container-rev {
        .cs-content {
            align-items: flex-end !important;
            text-align: right !important;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-313,
    #about {
        .cs-container {
            flex-flow: row;
            gap: calc(24 / 16 * 1rem);
        }

        .container-rev {
            flex-flow: row-reverse !important;
            .cs-picture1 {
                left: 0;
                right: auto;
            }
        }

        .cs-image-group {
            font-size: min(1.2vw, 1em);
            flex: none;
        }

        .cs-content {
            margin: 0;
        }
    }
}

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about {
        .cs-picture1 {
            left: auto;
            right: 0;
        }

        .cs-picture2 {
            right: auto;
            left: 0;
        }

        .cs-quote {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #about {
        .cs-image-group {
            /* keeps it to the left in the 1nd position */
            // this is defautl behavior 
            order: 0;
        }
    }
    #RPsbs-313 {
        .cs-image-group {
            /* keeps it to the left in the 1nd position */
            // this is defautl behavior 
            order: 1;
        }
    }
}